.header_fridge {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #3388ff;
    justify-content: space-between;
    padding: 5px 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: 60px;
    position: relative;
}

.header-title_fridge {
    font-size: 2rem;
    font-weight: bold;
    color: #000000;
    margin-right: auto;
}

.logo_fridge {
    height: 40px;
    margin-right: 10px;
}

.container_fridge {
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
}

/* Stil pentru form */
.form_fridge {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.form_fridge input, .form_fridge button {
    padding: 8px;
    font-size: 1rem;
}

.form_fridge button {
    background-color: #3388ff;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.form_fridge button:hover {
    background-color: #0056b3;
}

/* Mesaj de eroare */
.error-message {
    color: red;
    margin-bottom: 15px;
    font-weight: bold;
}

/* Tabel */
.table_fridge {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table_fridge th {
    background-color: #3388ff;
    color: white;
    padding: 10px;
    text-align: center;
}

.table_fridge td {
    padding: 10px;
    text-align: center;
}

.table_fridge tr:nth-child(even) {
    background-color: #f2f2f2;
}

.nav-button_fridge {
    text-decoration: none;
    background-color: #8fbae9ac;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    font-size: 0.9rem;
    transition: background-color 0.2s ease-in-out;
    margin-left: 10px;
}

.nav-button_fridge:hover {
    background-color: #0056b3;
}
