
.homepage-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px; 
  }
  
  .header_homepage {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #3388ff;
    justify-content: space-between;
    padding: 5px 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: 60px;
    position: relative;
  }
  
  .logo_homepage {
    height: 40px;
    margin-right: 10px;
  }
  
  .header-title_homepage {
    font-size: 2rem;
    font-weight: bold;
    color: #000000;
    margin-right: auto;
  }
  
  .homepage-_homepage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
  }
  
  .image-container_homepage {
    width: 40%;
    position: absolute;
    left: 25%; 
    top: 30%;
  }
  
  .home-image_homepage {
    width: 50%;
    height: 50%;
    border-radius: 10px;
  }
  
  .buttons-container_homepage {
    display: flex;
    flex-direction: column;
    gap: 30px; 
    justify-content: center; 
    align-items: center; 
    position: absolute;
    right: 25%; 
    top: 40%;
  }
  
  .button_homepage {
    padding: 12px 30px; 
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    text-transform: uppercase;
    font-size: 1.2rem; 
    width: 250px; 
  }
  
  .button_homepage:hover {
    background-color: #0056b3;
  }
  